<%- include('header'); -%>


    <h1>Hello!</h1>
    <div class="electrical">
    <p>Electrical and Computer Engineering graduate, focused on computer area from Aksum
        University, on Feb.23, 2021. Currently work on machine learning opencv project, mostly practicing reactjs and physics
        courses, strong planner and problem solver who readily adapts to change, works
        independently and exceeds expectations. Able to juggle multiple priorities and meet
        tight deadlines without compromising quality.</p>
    </div>



    <%- include('footer'); -%>